body {
  font-size: 0.4rem;
}

* {
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  font-size: 1.4em !important;
  margin: 5px 0 0 !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1.1em !important;
  font-weight: bold !important;
  margin: 5px 0 0 !important;
  padding: 0 !important;
  width: 50%;
}

table {
  font-family:Arial, Helvetica, sans-serif;
  color:#333;
  border:1px solid #e0e0e0;
  margin-bottom: 10px;
}

table td {
  padding: 0 5px;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
