// $grid-columns: 24;
// $grid-column-width: 30px;
// $grid-gutter-width: 1px;


@import "bootstrap";
// @import 'ember-power-select/themes/bootstrap';
// @import "ember-power-select";
// @import "date-picker";
// @import "main";

.monster-info {
  $monster-margin: 10px;
  $monster-border-color: #bbb;

  margin-bottom: $monster-margin;
  padding-bottom: $monster-margin;
  border-bottom: 1px solid $monster-border-color;
  font-size: 14px;

  h1 {
    font-size: 18px;
    margin: 0;
  }

  h2, h3, h4 {
    font-size: 16px;
    margin: 5px 0 0;
  }

  p {
    margin: 0;
    padding-left: $monster-margin;
  }

  table {
    margin-left: $monster-margin;
    border: 1px solid $monster-border-color;

    th,
    td {
      padding: 0 $monster-margin;
      border: 1px solid $monster-border-color;
    }
  }
}

.clickable {
  cursor: pointer;
}

.label-padded {
  margin-top: 24px;
}

.no-margin {
  margin: 0;
}

.separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-margin-top {
  margin-top: 0;
}

.list-group-item {
  &.active {
    a {
      color: #fff;
    }
  }
}

.label-row {
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ember-cli-g-map {
  height: 500px;
  width: 500px;
}
